<header class="bg-black shadow-sm">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <div class="flex items-center">
                <img class="logo-img" src="{{site.baseurl}}/assets/images/bcc.webp" alt="bholaCodeCamp logo" width="90" height="90">

                <a href="{{ site.baseurl }}" class="text-2xl font-bold logo-txt1 text-gray-100">{{ site.title }}</a>
            </div>
            
            <!-- Mobile menu button -->
            <div class="flex items-center lg:hidden">
                <button type="button" class="mobile-menu-button text-white" aria-label="Open mobile menu">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>

            <!-- Desktop menu -->
            <div class="hidden lg:flex items-center space-x-8 logo-txt">
                <a href="{{ site.baseurl }}" class="text-gray-200 hover:text-gray-500"><i class="fas fa-home"></i>
                    <span>Home</span></a>
                <a href="{{ site.baseurl }}/about" class="text-gray-200 hover:text-gray-500"><i class="fas fa-info-circle"></i>
                    <span>About</span></a>
                <a href="{{ site.baseurl }}/blog" class="text-gray-200 hover:text-gray-500"><i class="fas fa-blog"></i>
                    <span>Blog</span></a>
                <a href="{{ site.baseurl }}/videos" class="text-gray-200 hover:text-gray-500"><i class="fas fa-video"></i>
                    <span>Videos</span></a>
            </div>
        </div>

        <!-- Mobile menu -->
        <div class="mobile-menu hidden lg:hidden logo-txt">
            <div class="px-2 pt-2 pb-3 space-y-1">
                <a href="{{ site.baseurl }}" class="block px-3 py-2 text-gray-200 hover:text-black hover:bg-white rounded"><i class="fas fa-home w-6"></i>
                    <span>Home</span></a>
                <a href="{{ site.baseurl }}/about" class="block px-3 py-2 text-gray-200 hover:text-black hover:bg-white rounded"> <i class="fas fa-info-circle w-6"></i>
                    <span>About</span></a>
                <a href="{{ site.baseurl }}/blog" class="block px-3 py-2 text-gray-200 hover:text-black hover:bg-white rounded"><i class="fas fa-blog w-6"></i>
                    <span>Blog</span></a>
                <a href="{{ site.baseurl }}/videos" class="block px-3 py-2 text-gray-200 hover:text-black hover:bg-white rounded"><i class="fas fa-video w-6"></i>
                    <span>Videos</span></a>
            </div>
        </div>
    </nav>
</header>

<script>
    const mobileMenuButton = document.querySelector('.mobile-menu-button')
    const mobileMenu = document.querySelector('.mobile-menu')

    mobileMenuButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden')
    })
</script>