<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://db.onlinewebfonts.com/c/cf3fb387331afda8f5d7f9c8dea3cd13?family=Jaturat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- Open Graph Meta -->
    <meta content="{{ site.title }}" property="og:site_name" />
    {%- if page.title -%}
        <meta content="{{ page.title }}" property="og:title" />
    {%- else -%}
        <meta content="{{ site.title }}" property="og:title" />
    {%- endif -%}
    {%- if page.title -%}
        <meta content="article" property="og:type" />
    {%- else -%}
        <meta content="website" property="og:type" />
    {%- endif -%}
    {%- if page.description -%}
        <meta content="{{ page.description }}" property="og:description" />
    {%- else -%}
        <meta content="{{ site.description }}" property="og:description" />
    {%- endif -%}
    {%- if page.url -%}
        <meta content="{{ page.url | absolute_url }}" property="og:url" />
    {%- endif -%}
    {%- if page.date -%}
        <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time" />
        <meta content="{{ '/about/' | absolute_url }}" property="article:author" />
    {%- endif -%}
    {%- if page.image -%}
        <meta content="{{ page.image | absolute_url }}" property="og:image" />
    {%- else -%}
        <meta content="{{ '/assets/images/bcc1.png' | absolute_url }}" property="og:image" />
    {%- endif -%}

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.social.twitter }}" />
    <meta name="twitter:creator" content="@{{ site.social.twitter }}" />
    {%- if page.title -%}
        <meta name="twitter:title" content="{{ page.title }}" />
    {%- else -%}
        <meta name="twitter:title" content="{{ site.title }}" />
    {%- endif -%}
    {%- if page.url -%}
        <meta name="twitter:url" content="{{ page.url | absolute_url }}" />
    {%- endif -%}
    {%- if page.description -%}
        <meta name="twitter:description" content="{{ page.description }}" />
    {%- else -%}
        <meta name="twitter:description" content="{{ site.description }}" />
    {%- endif -%}
    {%- if page.image -%}
        <meta name="twitter:image:src" content="{{ page.image | absolute_url }}" />
    {%- else -%}
        <meta name="twitter:image:src" content="{{ '/assets/images/bcc1.png' | absolute_url }}" />
    {%- endif -%}

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{'/assets/images/bcc1.png' | relative_url }}" sizes="16x16 32x32 48x48">
    <link rel="icon" href="{{ site.baseurl }}/assets/images/bcc1.png" type="image/x-icon" sizes="16x16 32x32 48x48">
</head>
<body class="flex flex-col min-h-screen bg-gray-100 dark:bg-gray-900 dark:text-gray-100">
    {% include header.html %}
    <main class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-8">
        {{ content }}
    </main>
    {% include footer.html %}

    <!-- Back to Top Button -->
    <button id="back-to-top" class="fixed bottom-12 right-8 bg-gray-600 text-white px-4 py-2 rounded-full shadow-lg hover:bg-gray-700 transition-opacity opacity-0" aria-label="back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const backToTopButton = document.getElementById('back-to-top');

            window.addEventListener('scroll', function() {
                if (window.scrollY > 300) {
                    backToTopButton.classList.remove('opacity-0');
                    backToTopButton.classList.add('opacity-100');
                } else {
                    backToTopButton.classList.remove('opacity-100');
                    backToTopButton.classList.add('opacity-0');
                }
            });

            backToTopButton.addEventListener('click', function() {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
            });
        });
    </script>
</body>
</html>